@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

#projetos img {
  width: 100%;
}

header a {
  color: white;
  font-size: 35px;
  font-weight: 900;
}

header span {
  color: rgb(237, 19, 73);
  font-size: 36px;
  transition: all 0.3s ease;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 18px 80px 18px 80px;
  /*background-color: rgb(237, 19, 73);*/
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  transition: all 0.3s ease;
}
header.sticky {
  background-color: rgb(237, 19, 73);
  transition: all 0.3s ease;
  padding: 5px;
}
header.sticky span {
  color: white;
}

header nav a {
  font-weight: 600;
  padding: 32px;
  color: white;
  font-size: 20px;
  transition: 0.3s ease;
}

header nav a:hover {
  color: rgb(237, 19, 73);
}

#home {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  padding: 0px 0px 0px 80px;
  height: 100vh;
}
#home a {
  background: rgb(237, 19, 73);
  color: white;
  font-size: 25px;
  display: inline-flex;
  flex-direction: column;
  margin-top: 280px;
  margin-left: -390px;
  border-radius: 5px;
  padding: 15px;
}
#home a:hover {
  color: rgb(237, 19, 73);
  background: none;
  border: 2px solid;
}

#home img {
  padding-left: 530px;
  height: 740px;
}

.titulo-inicio {
  color: white;
  font-weight: 900;
  font-size: 50px;
}

.titulo-inicio span {
  color: rgb(237, 19, 60);
  font-weight: 800;
}

#home h3 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 30px;
  padding-right: 15px;
}
/* Menu-mobile */
.menu-btn {
  color: white;
  font-size: 26px;
  cursor: pointer;
  display: none;
}
header.sticky nav a {
  color: white;
}

/* Responsivo */
@media (min-width: 1105px) and (max-width: 1596px) {
  #home a {
    margin-right: -147px;
    font-size: 15px;
  }
  .titulo-inicio {
    font-size: 35px;
  }

  .titulo-inicio span {
    font-size: 35px;
  }

  #home h3 {
    font-size: 25px;
  }

  #home img {
    padding-left: 215px;
    height: 60%;
  }

  #sobre p {
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: inline-block;
  }
  #sobre img {
    width: 30%;
  }
}
@media (max-width: 1104px) {
  header {
    margin-left: 0;
  }
  #home a {
    margin-right: -180px;
    font-size: 13px;
  }

  .titulo-inicio {
    font-size: 30px;
  }

  .titulo-inicio span {
    font-size: 30px;
  }

  #home h3 {
    font-size: 18px;
  }

  #home img {
    padding-left: 300px;
    height: 55%;
  }
  #sobre p {
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: inline-block;
  }
  #sobre img {
    width: 28%;
  }
}
@media (max-width: 991px) {
  header {
    padding: 0 50px;
  }
  #home a {
    margin-right: -165px;
    font-size: 13px;
    margin-bottom: 40px;
  }

  .titulo-inicio {
    font-size: 26px;
  }

  .titulo-inicio span {
    font-size: 26px;
  }

  #home img {
    padding-left: 265px;
    height: 45%;
  }
  #sobre p {
    font-size: 18px;
    align-items: center;
    text-align: center;
    display: inline-block;
  }
  #sobre img {
    width: 32%;
  }
}
@media (max-width: 947px) {
  header {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  header nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    background: black;
    padding-top: 80px;
    text-align: center;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 25px;
  }
  header nav.active {
    left: 0;
  }
  header nav a {
    display: block;
  }
  header.sticky {
    padding-right: 15px;
  }
  .titulo-inicio {
    font-size: 27px;
  }

  .titulo-inicio span {
    font-size: 27px;
  }

  #home h3 {
    font-size: 19px;
  }
  #home a {
    margin-right: -215px;
    font-size: 15px;
    margin-bottom: 40px;
  }
  #home img {
    height: 45%;
  }
  #sobre p {
    font-size: 18px;
    align-items: center;
    text-align: center;
    display: inline-block;
  }
  #sobre img {
    width: 28%;
  }
}

@media (max-width: 690px) {
  .titulo-inicio {
    font-size: 20px;
  }

  .titulo-inicio span {
    font-size: 20px;
  }
  #home h3 {
    font-size: 15px;
  }
  #home a {
    margin-right: -270px;
    font-size: 12px;
    margin-bottom: 40px;
  }
  #home img {
    height: 27%;
    padding-left: 225px;
  }
  #sobre h1 {
    font-size: 50px;
  }
  #sobre p {
    font-size: 15px;
    align-items: center;
    text-align: center;
    display: inline-block;
  }
  #sobre img {
    width: 25%;
  }
}
@media (min-width: 414px) and (max-width: 450px) {
  .titulo-inicio {
    font-size: 13px;
  }

  .titulo-inicio span {
    font-size: 13px;
  }
  #home h3 {
    font-size: 9px;
  }
  #home a {
    margin-right: -305px;
    font-size: 9px;
    margin-bottom: 75px;
  }
  #home img {
    height: 20%;
    padding-left: 83px;
  }
  #sobre h1 {
    font-size: 15px;
  }
  #sobre p {
    font-size: 7px;
    align-items: center;
    text-align: center;
    display: inline-block;
  }
  #sobre img {
    width: 25%;
  }
}

#sobre {
  display: flex;
  background-color: rgb(19, 18, 18);
  color: white;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 15px;
}

#sobre div {
  font-size: 35px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

#habilidades {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 45px;
  align-items: center;
  text-align: center;
  background: black;
  color: white;
}

.habilidades-js {
  font-weight: 600;
}
.habilidades-js .img-js {
  width: 25%;
  display: inline-flex;
}

.habilidades-react {
  font-weight: 600;
}

.pro {
  background-color: #c4c4c4;
  height: 195px;
  width: 310px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
}

.pro div {
  background-color: #705656;
  width: 1000px;
  text-align: center;
  padding: 5% 0;
  transform: rotate(-50deg);
}

.escondido {
  opacity: 0;
  display: none;
  transition: 1000ms;
}
